*{
    margin: 0;
}
.navbar {
    background-color: #24292E;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar h1{
    color: #F5F8FA;
}

.navbar .back{
    padding: 5px 10px
}
